<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="customSection" type="ConsoleBcl.Models.Configuration.CustomConfigurationSection, ConsoleBcl"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <customSection appName="ConsoleBcl">
    <localization culture="Ru" />

    <processExistingFiles process="true" />

    <targetFolder path="..\..\Folders\TargetFolder\" />
    <defaultFolder path="..\..\Folders\DefaultFolder\" />

    <rulesForFolders>
      <!--.txt files whose name consists of 0-100 cyrillic letters-->
      <add folder="..\..\Folders\WatcherFolderOne" fileFilter ="^[а-яА-Я]{1,100}\.txt" addNumber ="true" addDate="false"/>
      <!--.docs files whose name consists of 0-5 characters-->
      <add folder="..\..\Folders\WatcherFolderTwo" fileFilter ="^.{0,5}\.docx" addNumber ="true" addDate="true"/>
      <!--all files with extension .txt, .docx, .jpg -->
      <add folder="..\..\Folders\WatcherFolderThree" fileFilter =".txt|.docx|.jpg" addNumber ="true" addDate="false"/>
    </rulesForFolders>

  </customSection>
</configuration>