<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="customSection" type="ConsoleBcl.Models.Configuration.CustomConfigurationSection, ConsoleBcl"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <customSection appName="ConsoleBcl">
    <localization value="Ru" />

    <targetFolder value="..\..\Folders\TargetFolder\" />
    <defaultFolder value="..\..\Folders\DefaultFolder\" />

    <rulesForFolders>
      <add folder="..\..\Folders\WatcherFolderOne" fileFilter =".txt|.docx|.rar" addNumber ="true" addDate="true"/>
      <add folder="..\..\Folders\WatcherFolderTwo" fileFilter =".txt|.docx|.rar" addNumber ="true" addDate="true"/>
      <add folder="..\..\Folders\WatcherFolderThree" fileFilter =".txt|.docx|.rar" addNumber ="true" addDate="true"/>
    </rulesForFolders>
        
  </customSection>
</configuration>